<div class="row">
  <div class="col-md-6">
    <h3>Wednesday, Dec 4</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html">Introducing Pandas Objects: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html">Data Indexing and Selection: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, Dec 6</h3>
    <table class="table table-striped">
       <tr> <td>11:00</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.03-operations-in-pandas.html">Operating on Data in Pandas: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html">Handling Missing Data: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
   <h3>Wednesday, Dec 11</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html">Hierarchical Indexing: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html">Combining Datasets: Concat and Append: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Friday, Dec 13</h3>
    <table class="table table-striped">
      <tr> <td>11:15</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html">Combining Datasets: Merge and Join: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html">Aggregation and Grouping: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="row">
  <div class="col-md-6">
   <h3>Wednesday, Dec 18</h3>
    <table class="table table-striped">
      <tr> <td>11:00</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html">Pivot Tables: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html">Vectorized String Operations: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
   <h3>Friday, Dec 20</h3>
    <table class="table table-striped">
      <tr> <td>11:15</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html">Working with Time Series: Group exercises</a> </td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.12-performance-eval-and-query.html">AHigh-Performance Pandas: Group exercises</a> </td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
 </div>